.board-games-header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.board-games-content {
    .board-games-table {
        margin-top: 15px;
    }
}