@import url(./reset.scss);

#root {
    height: 100%;

    .ant-layout {
        height: 100%;
        overflow-y: scroll;

        .ant-layout-footer {
            padding: 0 12px 12px 12px;
        }

        .layout-header {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px 0;

            .site-logo-small {
                height: 40px;
            }

            .layout-header-title {
                color: #FFFFFF;
                padding-left: 5px;
                font-weight: 800;
                font-size: 28px;
            }
        }

        .ant-layout-header {
            position: sticky;
            top: 0;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            height: 55px;
            line-height: 55px;
            padding: 0 15px;
            z-index: 100;
        }

        .ant-layout-content {
            background-color: #FFFFFF;
        }
    }
}